<div id="container">
  <div id="objects">
  <% @emails.each do |e| %>
      <div id="object"><%= e.object %></div>
      <% end %>
      
      
  </div>
  <div id="emails">
    <div id="subject">
		    <h2><%= @emails[0].object %></h2>
    </div>
    <div id="email">
<div>
		<%= @emails[0].body %>
</div>
    </div>
  </div>
</div>

<%= @toto %> 


