<div id="container">
  <div id="objects">
    <% @emails.each do |e| %>
      <div class="object" onclick="showEmail(<%= e.id %>);showTitle(<%= e.id %>)"><%= e.object %></div>
    <% end %> 
  </div>
  <div id="emails">
    <div id="subjects">
		  <div id="envelope">
        <i class="far fa-envelope"></i>
      </div>
      <div id="subject"></div>
    </div>
    <div id="email">
    </div>
  </div>
</div>


