<div id="container">
  <div id="objects">
    <% @emails.each do |e| %>
      <div class="object" onclick="showEmail(<%= e.id %>);showTitle(<%= e.id %>)"><%= e.object %></div>
    <% end %> 
  </div>
  <div id="emails">
    <div id="subject">
    </div>
    <div id="email">
    </div>
  </div>
</div>


