<div class="container">
  <div class="objects">
      <div class="object">dsfsfs</div>
  </div>
  <div class="emails">
    <div class="subject">
    </div>
    <div class="email">
    </div>
  </div>
</div>